body{
  margin: 0;
  background-color: rgb(4 4 49);
}

.box-card {
  box-shadow: 0 15px 30px 1px #8080805e !important;
  background-color: rgba(35 38 47 / 70%) !important;
  border-radius: 5px;
  color: #ffffff !important;
  margin: 1.5em auto;
}

.corps_question {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0rem 1rem 0rem;
}

.typeA{
  border: solid 1px white;
  border-style: dashed;
  padding: 1rem;
}

.title-page{
  display: block;
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.el-form-item__label, .el-radio__label{
  color: #ffffff !important;
}

.cell{
  word-break: normal !important;
}